<table cellpadding="10">
	<tr>
		<td width="300" valign="top">
			<%= image_tag("logo.png", alt: "Metasploit") %>
		</td>
		<td valign="top">
			<h2>Linux Metasploitable3</h2>

			<div>
			Metasploitable3 is a VM that is built from the ground up with a large amount of security vulnerabilities. It is intended to be used as a target for testing exploits with metasploit.
			<p>
			The Linux Metasploitable3 is a Ubuntu 14.04 machine that is made up with publicly known
			vulnerabilities, as well as 0days. Unlike the Windows machine, the Linux one contains
			more 0days.
			</div>
		</td>
	</tr>
</table>

