<table cellpadding="10">
	<tr>
		<td width="300" valign="top">
			<%= image_tag("logo.png", alt: "Metasploit") %>
		</td>
		<td valign="top">
			<h2>Windows Metasploitable3</h2>

			<div>
			Metasploitable3 is a VM that is built from the ground up with a large amount of security vulnerabilities. It is intended to be used as a target for testing exploits with metasploit.
			<p>
			The Windows Metasploitable3 is a Windows 2008 R2 machine that is made up with mostly
			publicly known vulnerabilities such as Tomcat, GlassFish, WinRM, SMB, Wordpress, etc.
			</div>
		</td>
	</tr>
</table>
