<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
	body {
		background-color: black;
		color: white;
	}
	div {
		width: 800;
	}
	</style>
  <title>Readme</title>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
